<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.bluemsx">
		<category id="system" label="30015">
			<group id="1">
				<setting id="bluemsx_msxtype" type="string" label="30001" help="30016">
					<level>0</level>
					<default>Auto</default>
					<constraints>
						<options>
							<option label="16316">Auto</option>
							<option label="30034">MSX</option>
							<option label="30035">MSXturboR</option>
							<option label="30036">MSX2</option>
							<option label="30037">MSX2+</option>
							<option label="30038">SEGA - SG-1000</option>
							<option label="30039">SEGA - SC-3000</option>
							<option label="30040">SEGA - SF-7000</option>
							<option label="30041">SVI - Spectravideo SVI-318</option>
							<option label="30042">SVI - Spectravideo SVI-328</option>
							<option label="30043">SVI - Spectravideo SVI-328 MK2</option>
							<option label="30044">ColecoVision</option>
							<option label="30045">Coleco (Spectravideo SVI-603)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="bluemsx_auto_rewind_cas" type="string" label="30007">
					<level>0</level>
					<default>ON</default>
					<constraints>
						<options>
							<option label="16041">ON</option>
							<option label="351">OFF</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="bluemsx_rtc_source" type="string" label="30014" help="30017">
					<level>0</level>
					<default>host clock</default>
					<constraints>
						<options>
							<option label="30018">host clock</option>
							<option label="30019">fixed epoch</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="video" label="30020">
			<group id="1">
				<setting id="bluemsx_overscan" type="string" label="30002" help="30021">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="305">enabled</option>
							<option label="30036">MSX2</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="bluemsx_vdp_synctype" type="string" label="30003" help="30022">
					<level>0</level>
					<default>Auto</default>
					<constraints>
						<options>
							<option label="16316">Auto</option>
							<option label="30046">50Hz</option>
							<option label="30047">60Hz</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="bluemsx_nospritelimits" type="string" label="30004" help="30023">
					<level>0</level>
					<default>OFF</default>
					<constraints>
						<options>
							<option label="351">OFF</option>
							<option label="16041">ON</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="audio" label="30024">
			<group id="1">
				<setting id="bluemsx_ym2413_enable" type="string" label="30005" help="30025">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option label="305">enabled</option>
							<option label="13106">disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="bluemsx_additional_cart" type="string" label="30012" help="30026">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="13106">disabled</option>
							<option label="30048">scc</option>
							<option label="30049">sccexpanded</option>
							<option label="30050">sccmirrored</option>
							<option label="30051">sccplus</option>
							<option label="30052">snatcher</option>
							<option label="30053">sdsnatcher</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="bluemsx_sound_io_enable" type="string" label="30008" help="30027">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="305">enabled</option>
							<option label="13106">disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="input" label="30028">
			<group id="1">
				<setting id="use_keyboard_for_coleco" type="string" label="30009" help="30029">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="305">enabled</option>
							<option label="13106">disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="hard_reset_f12" type="string" label="30011" help="30030">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="305">enabled</option>
							<option label="13106">disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="advanced" label="30031">
			<group id="1">
				<setting id="bluemsx_cartmapper" type="string" label="30006" help="30032">
					<level>0</level>
					<default>Auto</default>
					<constraints>
						<options>
							<option label="16316">Auto</option>
							<option label="30054">Normal</option>
							<option label="30055">mirrored</option>
							<option label="30056">basic</option>
							<option label="30057">0x4000</option>
							<option label="30058">0xC000</option>
							<option label="30059">ascii8</option>
							<option label="30060">ascii8sram</option>
							<option label="30061">ascii16</option>
							<option label="30062">ascii16sram</option>
							<option label="30063">ascii16nf</option>
							<option label="30064">konami4</option>
							<option label="30065">konami4nf</option>
							<option label="30066">konami5</option>
							<option label="30067">konamisynth</option>
							<option label="30068">korean80</option>
							<option label="30069">korean90</option>
							<option label="30070">korean126</option>
							<option label="30071">MegaFlashRomScc</option>
							<option label="30072">MegaFlashRomSccPlus</option>
							<option label="30073">SegaBasic</option>
							<option label="30074">SG1000</option>
							<option label="30075">SG1000Castle</option>
							<option label="30076">SG1000RamA</option>
							<option label="30077">SG1000RamB</option>
							<option label="30078">SC3000</option>
							<option label="30079">SC3000MultiCart</option>
							<option label="30080">SC3000MegaCart</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="patch_coleco_rom" type="string" label="30010" help="30033">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option label="305">enabled</option>
							<option label="13106">disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
